html, body{
margin: 5px;
padding: 1px;
background-color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
}

img{
display: block;
max-width: 100%;
height: auto;
}

.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .navitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 240px;
 }

.imglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.imgandinfo{
margin-left: 25%;
}

.recipe{
margin-left: 25%;
}

.categories{
    margin-left: 25%;
}